/*h1 django*/
.titulo{
    font-family:Arial, Helvetica, sans-serif;
    color: #ede8e7;
}

/*p sobre que es django*/
.contenido{
    font-family: Arial, Helvetica, sans-serif;
}

/*imagen de django*/
.imagen1{
    width: 250px; ;
}

.imagen2{
    width: 330px;
}

.imagen3{
    width: 420px;
}

/*titulo2*/
.titulo2{
    font-family:Arial, Helvetica, sans-serif;
    color: #ede8e7;
}

/*tabla de enlaces*/
.tabla1{
    font-family:Arial, Helvetica, sans-serif;
    color:black;
}

/*titulo3*/
.titulo3{
    font-family:Arial, Helvetica, sans-serif;
    color: #ede8e7;
}

/*titulo4*/
.titulo4{
    font-family:Arial, Helvetica, sans-serif;
    color: #ede8e7;
}

/*menu*/
nav{
    background-color: #e7e2db;
    padding: 10px 0;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul{
    display: inline;
    margin-right: 10px;
}

nav ul li{
    display: inline;
    margin-right: 10px;
}

nav ul li a{
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;

}

/*estilo para el menu*/
a {
    text-decoration: none; 
    color: #393e42; 
    font-weight: bold;
}

/*fondo*/
body{
    background-color: #f3d5ac;
}



