/*h1 django*/
.titulo{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
}

/*p sobre que es django*/
.contenido{
    font-family: Arial, Helvetica, sans-serif;
}

/*imagen de django*/
.imagen1{
    width: 250px; ;
}

.imagen2{
    width: 330px;
}

.imagen3{
    width: 420px;
}

/*titulo2*/
.titulo2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
}

/*tabla de enlaces*/
.tabla1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: blueviolet;
}

/*titulo3*/
.titulo3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
}

/*titulo4*/
.titulo4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: green;
}

/*menu*/
.menu{
    background-color: rgb(60, 130, 192);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*fondo*/
body{
    background-color: aquamarine;
}

